<header id="header">
  <nav class="navbar navbar-expand-lg shadow-sm">
      <div class="container">

        <!--Logo-->
        <a class="navbar-brand" routerLink="/">
          <img src="/assets/img/logo.jpeg" alt="Knowledge learning" height="100">
        </a>

        <!--Burger-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--if User is not logged-->
        <div *ngIf="!logged" class="collapse navbar-collapse justify-content-end gap-2" id="navbarTogglerDemo02">
          <ul class="navbar-nav mb-2 mb-lg-0 text-end">
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link" routerLinkActive="active" routerLink="/creer-un-compte">S’enregistrer</a>
            </li>
            <li class="nav-item btn btn-primary">
              <a class="nav-link text-white" routerLinkActive="active" routerLink="/connexion">Connexion</a>
            </li>
          </ul>
        </div>

        <!--if User is logged-->
        <div *ngIf="logged" class="collapse navbar-collapse justify-content-end gap-2" id="navbarTogglerDemo02">
          <ul class="navbar-nav mb-2 mb-lg-0 text-end">
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link" routerLinkActive="active" routerLink="/">Thèmes</a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link" routerLinkActive="active" routerLink="/tous-les-cours">Cours</a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link" routerLinkActive="active" routerLink="/lecons">Leçons</a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link" (click)="logout()">Se déconnecter</a>
            </li>
            <li class="nav-item btn btn-primary">
              <a class="nav-link text-white position-relative" routerLinkActive="active" routerLink="/panier">
                Panier
                <span *ngIf="total > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{ total | euroCurrency }}
                </span>
              </a>
            </li>
            <li class="nav-item btn btn-outline-primary ms-2">
              <a class="nav-link position-relative text-primary" routerLinkActive="active" routerLink="/compte">Mon compte</a>
            </li>
            <li *ngIf="isAdmin" class="nav-item btn btn-success ms-2">
              <a class="nav-link position-relative text-white" routerLinkActive="admin" routerLink="/admin">Administration</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>