<div class="container">
  <h1 class="text-center">Nos cours sur le thème : {{ course.title }}</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center mt-3">
    <div *ngFor="let lesson of lessons" class="col">
      <div class="card h-100 py-3">
        <div class="card-body text-center">
          <h5 class="card-title">{{ lesson.title }}</h5>
          <div *ngIf="logged" class="mt-3">
            <div class="row px-5 gap-2 justify-content-center">
              <a *ngIf="!canAddToCart(lesson.idLessons, lesson.idCourses) && user?.isVerified" routerLink="/lecon/{{ lesson.idLessons }}" class="card-link col-6 btn btn-outline-secondary">Voir le contenu</a>
              <a *ngIf="canAddToCart(lesson.idLessons, lesson.idCourses)" routerLink="#" class="col btn btn-primary">Ajouter au panier</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>