/* You can add global styles to this file, and also import other style files */
.btn-primary {
  --bs-btn-bg: #0074c7;
  --bs-btn-border-color: #0074c7;
  --bs-btn-hover-bg: #003c67;
  --bs-btn-hover-border-color: #0074c7;
  --bs-btn-active-bg: #0074c7;
  --bs-btn-active-border-color: #0074c7;
  --bs-btn-disabled-bg: #0074c7;
  --bs-btn-disabled-border-color: #0074c7;
}

.btn-outline-primary {
  --bs-btn-color: #0074c7;
  --bs-btn-border-color: #0074c7;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0074c7;
  --bs-btn-hover-border-color: #0074c7;
}

.bg-secondary {
  background-color: #0074c7 !important;
}

.bg-primary {
  background-color: #f1f8fc !important;
}

.text-primary {
  color: #0074c7 !important
}

main {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}