<div class="container">
  <h1 class="text-center">Tous nos cours</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center mt-3">
    <div *ngFor="let course of pagedCourses" class="col">
      <div class="card h-100 py-3">
        <div class="card-body text-center">
          <h5 class="card-title">{{ course.title }}</h5>
          <h6 class="card-subtitle">{{ course.description }}</h6>
          <div *ngIf="logged" class="mt-3">
            <div class="row px-5 gap-2 justify-content-center">
              <a routerLink="/cours/{{ course.idCourses }}" class="card-link col-6 btn btn-outline-secondary">Voir toutes les leçons</a>
              <div div *ngIf="canAddToCart(course.idCourses)" class="col d-flex flex-column gap-2">
                <a class="col btn btn-primary" (click)="addToCart($event, course)">Ajouter au panier</a>
                <p>{{ course.price }} €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav *ngIf="totalPages > 1" aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="setPage(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="currentPage === i + 1">
        <a class="page-link" (click)="setPage(i + 1)">{{i + 1}}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="setPage(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>